@import '../../styles/colorPalette.scss';

.footer-col{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;

    .bold{
        margin-bottom: 24px;
        color: $black;
        font-weight: 600;
        font-size: 16px;
    }

    span{
        margin-bottom: 8px;
        padding: 8px 0;
        color: $grey;
        cursor: pointer;
    }
}